@model IEnumerable<CRUDWork.Models.DepartmentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <script>

    function deleteDept(id) {

        var result = confirm("Want to delete?");
        if (result) {
        $.ajax({

                url: 'Departments/Delete?id=' + id,
                success: function (response) {
                    if (response == true) {
                        alert("Deleted");
                        window.location = "/Departments";
                    }
                    else {
                        alert("Error");
                    }
                },
                failure: function (response) {
                    //handle the error
                }
            });
        }
    }

</script>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfUsers)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfUsers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RowId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RowId">Details</a> |
                <a href="#" onclick="deleteDept('@item.RowId')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
